.countdown {
    min-height: 70vh;
    display: grid;
    align-items: center;
    justify-content: center;

    .countdownAnimation, 
    .countdownText {
        text-align: center;
        grid-column: 1;
        grid-row: 1;
    }
    .countdownTextValue,
    .countdownTextUnit {
        margin: 0px;
        color: white;
        font-weight: 800;
    }
    .countdownTextValue {
        font-size: 2em;
        margin-top: 18px;
    }
    
    .alarm {
        animation-name: alarm;
        animation-duration: 2s;
        animation-iteration-count: 5;
    }

    @keyframes alarm {
        from {
            opacity: 100%;
            r: 20;
        }
        to {
            opacity: 0%;
            r: 155;
        }
    }

    .countdownAnimation svg {
        width: auto;
        height: auto;
        max-width: 500px;
    }


    .countdownText.animated {
        top: -158px;
        animation-name: animatedDisplay;
        animation-duration: 1s;
        animation-iteration-count: 1;
        color: #ff2cb4;
        opacity: 0;
    }

    @keyframes animatedDisplay {
        0%   {font-size: 16px; opacity: 1}
        100% {font-size: 64px; opacity: 0}
    }

}
