.content {
    margin: 0 auto;
    padding: 0 2em;
    max-width: 800px;
    margin-bottom: 50px;
    line-height: 1.6em;
}

.timer,
.centered {
    text-align: center;
}

.timer-display {
    position: relative;
    top: -130px;
}

.timer .timer-display.animated {
    top: -158px;
    animation-name: animatedDisplay;
    animation-duration: 1s;
    color: #ff2cb4;
    opacity: 0;
}

@keyframes animatedDisplay {
  0%   {font-size: 16px; opacity: 1}
  100% {font-size: 64px; opacity: 0}
}

.logo {
    height: 60px;
}