.content {
    margin: 0 auto;
    padding: 0 2em;
    max-width: 800px;
    margin-bottom: 50px;
    line-height: 1.6em;
}

.centered {
    text-align: center;
}

.logo {
    height: 60px;
}

.content div,
.content input {
    /* specific css selectors necessary, because pure-g overwrites everything */
    font-family: 'Roboto Slab', sans-serif;
    font-weight: 300;
}