<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Let's Timebox</title>
  <link rel="icon" href="/branding/export/icon.svg" type="image/svg+xml">
  
  <script src="https://js.pusher.com/6.0/pusher.min.js"></script>
  
  <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
  
  <!-- Note: when deploying, replace "development.js" with "production.min.js". -->
  <script src="https://unpkg.com/react@16/umd/react.production.min.js" crossorigin></script>
  <script src="https://unpkg.com/react-dom@16/umd/react-dom.production.min.js" crossorigin></script>

  <script src="/js/moment.min.js"></script>
  <script type="text/babel" src="/js/QrLink.jsx"></script>
  <script type="text/babel" src="/js/TimerControls.jsx"></script>
  <script type="text/babel" src="/js/Countdown.jsx"></script>
  <script type="text/babel" src="/js/TimeBox.jsx"></script>

  <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.3/build/pure-min.css" integrity="sha384-cg6SkqEOCV1NbJoCu11+bm0NvBRc8IYLRGXkmNrqUBfTjmMYwNKPWBTIKyw9mHNJ" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/screen.css">
</head>
<body>
  {%include header.html %}
  
  {{content}}
</body>
</html>
