<html>

<head>
    <title>Let's Timebox</title>
    <script src="https://js.pusher.com/6.0/pusher.min.js"></script>
    <script src="/js/moment.min.js"></script>
    <link rel="shortcut icon" href="/branding/Icon.svg" type="image/svg+xml" sizes="any">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;700&display=swap" rel="stylesheet">
    <style type="text/css" media="screen">
        <!--
        body {
            font-family: 'Roboto Slab', serif;
            color: #979797;
            font-weight: 300;
        }
        
        bold, strong {
            font-weight: 700;
        }
    </style>

</head>

<body>
    <img src="/branding/Logo.svg" height="80" />
    {{content}}
</body>

</html>
